<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>info.dourok.writing</string>
	<key>ProgramArguments</key>
	<array>
          <string>/bin/zsh</string>
          <string>-c</string>
	  <string>source .zshrc; cd Writing ; npm start</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>tiou</string>
        <key>StandardErrorPath</key>
	<string>/Volumes/Pickle/Library/Logs/info_dourok_writing.log</string>
	<key>StandardOutPath</key>
	<string>/Volumes/Pickle/Library/Logs/info_dourok_writing.log</string>
	<key>WorkingDirectory</key>
	<string>/Volumes/Pickle</string>
</dict>
</plist>
